body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

li {
  background: #1e293b;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
}
